<header>
    <a href="/" id="title">
        <div>brain dumps</div>
        <span>& code</span>
    </a>
    <span id="socials">
        <div><a href="https://github.com/GriffinLedingham" target="_blank"><img src="/images/github.svg"> <span>griffinledingham</span></a></div>
        <div><a href="https://twitter.com/gcledingham" target="_blank"><img src="/images/twitter.svg"> <span>@gcledingham</span></a></div>
        <div><a href="https://www.pikalytics.com" target="_blank"><img src="/images/term.svg"> <span>pikalytics</span></a></div>
        <div><a href="https://www.kanoapps.com" target="_blank"><img src="/images/work.svg"> <span>kano</span></a></div>
    </span>
</header>